.user {
  flex: 4;
  padding: 20px;
}

.user-title-container {
  display: flex;
  justify-content: space-between;
}

.user-add-btn {
  width: 80px;
  padding: 5px;
  background-color: teal;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.user-container {
  display: flex;
  margin-top: 20px;
}

.user-show {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.user-update {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.user-show-top {
  display: flex;
  align-items: center;
}

.user-show-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user-show-top-title {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.user-show-top-username {
  font-weight: 600;
}

.user-show-top-title {
  font-weight: 300;
}

.user-show-bottom-title {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.user-show-bottom {
  margin-top: 20px;
}

.user-show-info {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}

.user-show-icon {
  font-size: 16px !important;
}

.user-show-bottom-job {
  margin-left: 10px;
}

.user-update-title {
  font-style: 24px;
  font-weight: 600;
}

.user-update-form {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.user-update-item {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.user-update-item > label {
  margin-bottom: 5px;
  font-size: 14px;
}

.user-update-input {
  border: none;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid gray;
}

.user-update-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.user-update-icon {
  cursor: pointer;
}

.user-update-upload {
  display: flex;
  align-items: center;
}

.user-update-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.update-btn {
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-weight: 600;
}
